body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family:  "Lato", "Poppins", "Roboto";
}

/* Section 1 */

.section-1, .footer {
    background: #1F2937;
}

.section-1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0px 128px 64px;
}

.header {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-1-subtext, .header-links {
    font-size: 18px;
    color: #c4c4c4;
    display: flex;
}

.header-links {
    gap: 16px;
}

.section-1-content {
    display: flex;
    align-items: center;
    margin: 64px 0px 32px;
}

.section-1-right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

img {
    max-width: 80%;
    object-fit: cover;
    border-radius: 10px;
}

.section-1-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}

.section-1-left p {
    margin: 0px;
}

/* Section 2 */

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 64px;
}

.information-header {
    font-weight: bolder;
    font-size: 36px;
}

.boxes {
    display: flex;
    gap: 64px;
}

.section-2-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.section-2-content p {
    width: 156px;
    color: #8d8d8d;
}

.box {
    border: 3px solid rgb(90, 162, 255);
    border-radius: 10px;
    width: 156px;
    aspect-ratio: 1/1;
}

.image-description {
    margin: 16px 0px 0px;
}

/* Section 3 */

.section-3 {
    background: #E5E7EB;
    padding: 64px 200px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.reference {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
}

/* Section 4 */

.section-4 {
    display: flex;
    margin: 64px 128px;
    background: #3882F6;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
    height: 96px;
    color: white;
}

.section-4-left p {
    margin: 0px;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    color: #c4c4c4;
    padding: 10px;
}

/* Button config */

button {
    border-radius: 5px;
    background:#3882F6;
    color: white;
    padding: 5px 20px;
}

.button-1 {
    margin-top: 10px;
    border: 0px;
}

.button-2 {
    border: 1px solid white;
}