body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-1, .footer {
    background: #1F2937;
}

.section-1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0px 128px 64px;
}

.section-1-subtext, .header-links {
    font-size: 18px;
    color: #c4c4c4;
    display: flex;
}

.header {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-links {
    gap: 16px;
}

.section-1-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 64px 0px 32px;
}

.section-1-right {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #292929;
    align-self: stretch;
    margin: 0 0 0 32px;
}

.section-1-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}

.section-1-left p {
    margin: 0px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 64px;
}

.information-header {
    font-weight: bolder;
    font-size: 36px;
}

.boxes {
    display: flex;
    gap: 64px;
}

.section-2-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

}

.section-2-content p {
    width: 100px;
    color: #8d8d8d;
}

.box {
    border: 3px solid rgb(90, 162, 255);
    border-radius: 10px;
    border-collapse: separate;
    width: 128px;
    height: 128px;
}

.section-3 {
    background: #E5E7EB;
    padding: 64px 200px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.thor {
    display: flex;
    justify-content: flex-end;
}


.section-4{
    display: flex;
    margin: 64px;
    background: #3882F6;
    justify-content: space-around;
    border-radius: 5px;
    align-items: center;
    height: 100px;
    color: white;
}

.section-4-left p{
    margin: 0px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
    padding: 10px;
}

button {
    border-radius: 5px;
    background:#3882F6;
    border: 0px;
    color: white;
    padding: 5px 20px;
}

.button-1 {
    margin-top: 5px;
}

.button-2 {
    border: 1px solid white;
}